<div class="view conta">
    <div class="page-header bgPadrao">
        <h1 class="logo" style="background-image: url(./img/user.png)">Logo</h1>
    </div>

    <div class="userForm container marginTop40px">
        <div class="row">
            <div class="col-12">
                <div class="group">      
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Name</label>
                </div>
            </div>
            <div class="col-12">
                <div class="group">      
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>CPF</label>
                </div>
            </div>
            <div class="col-12">
                <div class="group">      
                    <input type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                    </div>
            </div>


            <div class="col-12 alignCenter marginTop20px">
                <a class="btn btn-padrao" href="/dashboard" role="button">Atualizar</a>
            </div>
        </div>
    </div>
</div>